/TP1 Ant, Maven et Gradle/.idea/
/.idea/
/TP1 Ant, Maven et Gradle/sporttrack-model.rar
/TP2 MVVM avec le cadriciel ZK/LACOUR_Alexandre_TP2.tar.gz
/TP2 MVVM avec le cadriciel ZK/nom_archive.tar.gz
/TP2 MVVM avec le cadriciel ZK/sporttrack-webapp.tar.xz
/TP3 REST avec Spring Boot/sporttrack.tar.gz
/TP4 REST avec Spring Boot - spécification OpenAPI/sporttrack.tar.gz

# Exclure tous les fichiers et dossiers nommés .idea
.idea/

# Exclure toutes les archives
*.rar
*.tar.gz
*.tar.xz
*.zip
*.7z
*.tgz
